html {
  position: relative;
  min-height: 100%;
}

.bkrnd-red {
  color: #fff;
  background-color: #f00;
  font-style: normal !important;
}

.movetext {
  padding-left: 35px;
  font-style: italic;
}

.movelink {
  padding-left: 70px;
}

body {
  margin-bottom: 60px;
  /* Margin bottom by footer height */
  font-family: 'Merriweather', serif;
  background-color: #FFF3E0;
  font-size: 1.2rem;
  line-height: 1.5;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  /* Set the fixed height of the footer here */
}